
{% extends 'base.html' %}
{% block tab1 %}" style="background: #AFABAB; border-color: #AFABAB; font-weight: bold;{% endblock %}
{% block tab2 %}{% endblock %}
{% block tab3 %}{% endblock %}
{% block content %}
  <div class="bigtab d-flex flex-column">
    <table style="border: 0; width:100%; table-layout: fixed;">
      <tr>
      <form action ='analyse'  method="POST">
        <div class="input-group mb-3">
          <input class="rounded-pill-left " type="text" style="width:50%;" placeholder="Enter #tag or @user" aria-label="query" aria-describedby="basic-addon2"  id="twitter_query" name="twitter_query">
          <span class="input-group-btn">
             <button class="btn btn-success rounded-pill-right" type="submit" style="padding-right: 15px;">
             <i class="fa fa-search">Submit</i>
           </button>
          </span>
          <br>
        </div>
        <label for="twitter_query">Click 'Submit' to analyse the User account ot Hashtag data:</label>
      </form>
      </tr>
      <br>
      <hr>
      </tr>
      {% if result != None %}
        <div style="text-align:center;">Search Term: <b>{{result.term}}</b></div>
        <div style="text-align:center;">Found <b>{{result.tweet_count}} tweets</b> from the last 7 days with <b>{{result.word_count}}</b> unique words used</div></div>
        <br>
        <table style="width:100%;">
          <tr>
            <td class="td-content-desc">Positivity </td>
            <td class="td-content-data">This tweet-set is overall {{result.sentiment}}</td>
          </tr>
           <tr class="tr-content-mid">
             <td class="td-content-desc">Political Leaning </td>
           	<td class="td-content-data">{{result.political_statement}}</td>
          </tr>
          <tr class="tr-content-mid">
            <td class="td-content-desc">Political Leaning II </td>
          	<td class="td-content-data">{{result.prediction}}</td>
          </tr>
          <tr class="tr-content-mid">
            <td class="td-content-desc">Strongest Emotions </td>
          	<td class="td-content-data">
              {% for item in result.strongest_emotions %}
                {{item.name}} 
                {% if not loop.last %},&nbsp;{%endif%}
              {% endfor %}
            </td>
          </tr>
          <tr class="tr-content-mid">
            <td class="td-content-desc">Most Used Emojis </td>
          	<td class="td-content-data">
              {% for item in result.most_used_emojis %}
                {{item.word}}
                {% if not loop.last %},&nbsp;{%endif%}
              {% endfor %}
            </td>
          </tr>
          <tr class="tr-content-mid">
            <td class="td-content-desc">Most Used Words </td>
          	<td class="td-content-data">
              {% for item in result.most_used_words %}
                {{item.word}}
                {% if not loop.last %},&nbsp;{%endif%}
              {% endfor %}
            </td>
          </tr>
          <tr class="tr-content-mid">
            <td class="td-content-desc">Most Used Hashtags </td>
            <td class="td-content-data">
              {% for item in result.most_used_hashtags %}
                {{item.word}}
                {% if not loop.last %},&nbsp;{%endif%}
              {% endfor %}
            </td>
          </tr>
        </table>
      {% endif %}
    </table>
  </div>
{% endblock %}
