
{% extends 'base.html' %}
{% block tab1 %}" style="background: #AFABAB; border-color: #AFABAB; font-weight: bold;{% endblock %}
{% block tab2 %}{% endblock %}
{% block tab3 %}{% endblock %}
{% block content %}
  <div class="bigtab d-flex flex-column">
  {% with messages = get_flashed_messages(with_categories=true) %}
	  {% if messages %}
	    {% for category, message in messages %}
		  <div class="{{category}} alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
		{% endfor %}
	  {% endif %}
	{% endwith %}
    <table style="border: 0; width:100%; table-layout: fixed;">
      <tr style="border-bottom: 1px solid #a19d9c;">
      <div class="row">
      <form action ='analyse_tweets' method="POST">
        <div class="col-12 col-md-6 input-group mb-3">
          <input class="rounded-pill-left " type="text" style="width:75%;" placeholder="Enter #tag or @user" aria-label="query" aria-describedby="basic-addon2"  id="twitter_query" name="twitter_query" >
          <span class="input-group-btn">
             <button class="btn btn-success rounded-pill-right" style="padding-right: 15px;" onclick="showLoadingAnalyse()">
             <i class="fa fa-search">Submit</i>
           </button>
          </span>
        </div>
        <div class="col-12 col-md-6 btn-group btn-group-sm biggroup" role="group" data-toggle="buttons" style="flex: 1; border-radius: 2px; padding-bottom: 10px; padding-top: 10px; margin-right:10px;">
          <label class="btn btn-outline-dark form-check-label" style="border-top-left-radius: 50rem; border-bottom-left-radius: 50rem;  pointer-events: none; background:#efefef; padding-left:10px;" >
            <b style="font-style: italic;">Political Analysis Dataset&nbsp;</b>
          </label>
          <label class="btn btn-outline-dark form-check-label" for="ie" style="flex: 1; font-weight: bold;">
            <input class="btn-check" type="radio" name="countryDataset" autocomplete="off"  value="ie" id="ie" style="display: none;"/>Ireland
          </label>
          <label class="btn btn-outline-dark form-check-label" for="uk" style="flex: 1; font-weight: bold;">
            <input class="btn-check" type="radio" name="countryDataset" autocomplete="off"  value="uk" id="uk" style="display: none;"/>UK
          </label>
          <label class="btn btn-outline-dark form-check-label" for="us" style="flex: 1; font-weight: bold;">
            <input class="btn-check" type="radio" name="countryDataset" autocomplete="off"  value="us" id="us" style="display: none;"/>US
          </label>
          <label class="btn btn-outline-dark form-check-label active" for="global" style="flex: 1; font-weight: bold;">
            <input class="btn-check" type="radio" name="countryDataset" autocomplete="off"  value="global" id="global" style="display: none;" checked/>Global
          </label>
        </div>
      </form>
      </div>
        <label for="twitter_query" style="padding-left:10px;">Click 'Submit' to analyse the tweets within the User account or Hashtag:</label>
      <div style="border-bottom: 1px solid #a19d9c; padding-top:7.5px;"/>
      </tr>
      <div id="loading" style="display: none;">
        <img class="loadingImg" src="{{ url_for('static',filename='images/loading-gif.gif') }}" alt="loading"/>
      </div>
      {% if result != None %}
      <div id="result_section_1">
        <div style="text-align:center; padding-top:7.5px;">Search Term: <b>{{result.tweetsetInfo.term}}</b></div>
        <div style="text-align:center;">Found <b>{{result.tweetsetInfo.tweet_count}} tweets</b> from the last 7 days with <b>{{result.tweetsetInfo.word_count}}</b> unique words used</div>
        <div style="text-align:center;">Politics Analysed with a dataset from <b>{{result.political_sentiment_data.dataset_country}}</b></div>
        <br>
        <table id="result_section_2" style="width:100%;">
          <tr>
            <td class="td-content-desc">Sentiment
              <a class="hoverInfo" style="width: 15px;color:#000000;text-decoration:none" data-title="How Positive or Negative this set of tweets is.">
                <img src="{{ url_for('static',filename='images/info_icon.png') }}" alt="Verified" class="informational_icon"/>
              </a>
            </td>
            <td class="td-content-data">
              {% for n in range(result.tweetsetInfo.sentiment_ratios[0]) %}
                <img src="{{ url_for('static',filename='images/sad.png') }}" class="sentimentEmojis" alt="Verified" />
              {% endfor %}
              {% if result.tweetsetInfo.sentiment_ratios[1] == 1 %}
                	<img src="{{ url_for('static',filename='images/sad_neut.png') }}" alt="Verified" class="sentimentEmojis"/>
              {% endif %}
              {% for n in range(result.tweetsetInfo.sentiment_ratios[2]) %}
                <img src="{{ url_for('static',filename='images/neutral.png') }}" class="sentimentEmojis" alt="Verified"/>
              {% endfor %}
              {% if result.tweetsetInfo.sentiment_ratios[3] == 1 %}
                <img src="{{ url_for('static',filename='images/neut_happy.png') }}" alt="Verified" class="sentimentEmojis"/>
              {% endif %}
              {% for n in range(result.tweetsetInfo.sentiment_ratios[4]) %}
                <img src="{{ url_for('static',filename='images/happy.png') }}" class="sentimentEmojis" alt="Verified"/>
              {% endfor %}
              <div style="padding-top:7.5px;">{{result.tweetsetInfo.sentiment}}</div>
            </td>
          </tr>
          <tr class="tr-content-mid">
            <td class="td-content-desc">Political Leaning
              <a class="hoverInfo" style="width: 15px;text-decoration:none" data-title="Where this set of tweets falls on the spectrum from left/liberal to right/conservative.">
                <img src="{{ url_for('static',filename='images/info_icon.png') }}" alt="Verified" class="informational_icon"/>
              </a>
            </td>
          	<td class="td-content-data political_leaning_wrapper">
                <svg id="political_leaning_meter" style="margin-top:7.5px;">
                  <circle class="circlesector" id="liberal" r="50" cx="50%" cy="50%" stroke="#7CCCE5" 
                  stroke-width="20" stroke-dasharray="157, 314" fill="none">
                  </circle>
                  <circle class="circlesector" id="neutral" r="50" cx="50%" cy="50%" stroke="#8f8f8f"
                  stroke-width="20" stroke-dasharray="91, 314" fill="none">
                  </circle>
                  <circle class="circlesector" id="conservative" r="50" cx="50%" cy="50%" stroke="#e5957c"
                  stroke-width="20" stroke-dasharray="67, 314" fill="none">
                  </circle>
                  <img id="meter_needle" src="{{ url_for('static',filename='images/meter-gauge-needle.svg') }}" alt="" style="margin-top:7.5px; transform: rotate({{result.political_sentiment_data.political_leaning_degree}}deg);">
                  <p id="liberal_label">Left</p>
                  <p id="conservative_label">Right</p>
                </svg>
                <div id="politicalLeaningDesc1" style="margin-top: -50px;">{{result.political_sentiment_data.prediction}}</div>
                <div id="politicalLeaningDesc2">{{result.political_sentiment_data.prediction}}</div>
            </td>
          </tr>
          <tr class="tr-content-mid">
            <td class="td-content-desc">Tweet Emotions
              <a class="hoverInfo" style="width: 15px;color:#000000;text-decoration:none" data-title="The percentages of the set of tweets which is associated with various emotions.">
                <img src="{{ url_for('static',filename='images/info_icon.png') }}" alt="Verified" class="informational_icon"/>
              </a>
            </td>
          	<td class="td-content-data">
							<div class="emotion-chart flex-container">
                {% for emotion in result.most_used_data.strongest_emotions %}
                  <div class="{% if loop.index == 1 %}emot-first {% elif loop.last %}emot-last  {% endif %}all-emot" style="
                  flex: 1 1 {{emotion.get_bar_fraction(result.tweetsetInfo.tweet_count)}}%; 
                  background-color: {{emotion.colour}};">
                    {{emotion.name.capitalize()}}
                  </div>
                {% endfor %}
              </div>
              <div id="politicalLeaningDesc2" class="flex-wrap">
                {% for emotion in result.most_used_data.strongest_emotions %}
                  <div class="Column"><div class="colour-inidicator" style="background-color: {{emotion.colour}};"></div><p class="legendlabel">{{emotion.name.capitalize()}}</p></div>
                {% endfor %}
              </div>
            </td>
          </tr>
          <tr class="tr-content-mid">
            <td class="td-content-desc">Most Used Emojis</td>
          	<td class="td-content-data">
							{% if result.most_used_data.most_used_emojis != [] %}
                {% for item in result.most_used_data.most_used_emojis %}
                  {{item.word}}
                  {% if not loop.last %},&nbsp;{%endif%}
                {% endfor %}
							{% else %}
							  No emojis used in the last 7 days of tweets<br>
							{% endif %}
            </td>
          </tr>
          <tr class="tr-content-mid">
            <td class="td-content-desc">Most Used Words </td>
          	<td class="td-content-data">
							{% if result.most_used_data.most_used_words != [] %}
                {% for item in result.most_used_data.most_used_words %}
                  {{item.word}}
                  {% if not loop.last %},&nbsp;{%endif%}
                {% endfor %}
							{% else %}
							  No Words used in the last 7 days of tweets<br>
							{% endif %}
            </td>
          </tr>
          <tr class="tr-content-mid">
            <td class="td-content-desc">Most Used Hashtags </td>
            <td class="td-content-data">
							{% if result.most_used_data.most_used_hashtags != [] %}
                {% for item in result.most_used_data.most_used_hashtags %}
                  {{item.word}}
                  {% if not loop.last %},&nbsp;{%endif%}
                {% endfor %}
							{% else %}
							  No hashtags used in the last 7 days of tweets<br>
							{% endif %}
            </td>
          </tr>
        </table>
        <div id="result_section_3" style="text-align:center; padding-top: 10px;">
          <a class="btn btn-primary" 
          href="https://twitter.com/intent/tweet?text=Analysis%20of%20{{result.tweetsetInfo.term | urlencode }}%3A%0ASentiment%3A%20%20%20%20%20%20%09{{result.tweetsetInfo.summary | urlencode }}%0APolitics%3A%20%20%20%20%20%20%20%20%20%09{{result.political_sentiment_data.pol_summary | urlencode }}%0AStrongest%20Emotions%3A%20{% for item in result.most_used_data.emotion_summary %}{{item.name | urlencode }}{% if not loop.last %},&nbsp;{%endif%}{% endfor %}%0AMost%20Used%20Words%3A%20%20%20%20{% for item in result.most_used_data.most_used_words %}{{item.word | urlencode }}{% if not loop.last %},&nbsp;{%endif%}{% endfor %}{% if result.most_used_data.most_used_emojis != [] %}%0AMost%20Used%20Emojis%3A%20%20%20{% for item in result.most_used_data.most_used_emojis %}{{item.word | urlencode }}{% if not loop.last %},&nbsp;{% else %}&#010;{%endif%}{% endfor %}{% endif %}%0AAnalysed%20with%3A%20%09%20%20%23TwitterAnalysisApplication" 
          target="_blank">
            <img src="{{ url_for('static',filename='images/twitter_logo.png') }}" class="verified_tick"/> 
            Share on Twitter
          </a>
        </div>
      </div>
      {% endif %}
    </table>
  </div>
{% endblock %}
