
{% extends 'base.html' %}
{% block tab1 %}{% endblock %}
{% block tab2 %}" style="background: #AFABAB; border-color: #AFABAB; font-weight: bold;{% endblock %}
{% block tab3 %}{% endblock %}
{% block content %}
    <div class="bigtab d-flex">
      <div style="border: 0; table-layout: fixed;" class="two-row-fill row">
        {% for result in resultlist %}
			{% if loop.index == 1 %}
				<div class="col-12 col-md-6 compare-content1">
				{% set category = "category1"%}
			{% else %}
				<div class="col-12 col-md-6 compare-content2">
				{% set category = "category2"%}
			{%endif%}
			{% with messages = get_flashed_messages(category_filter=[category]) %}
				{% if messages %}
					{% for message in messages %}
					<div class="alert alert-warning alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span></button>
						{{message}}
					</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
            <form action="compare_tweets" style="width:100%;" method="POST">
            <input type="hidden" id='loopnum' name='loopnum' style="display:none;" value="{{loop.index}}">
              <div class="input-group mb-3">
                <input class="rounded-pill-left form-control" type="text" style="width:50%;" placeholder="Enter #tag or @user" aria-label="query" aria-describedby="basic-addon2"  id="twitter_query" name="twitter_query">
                <span class="input-group-btn">
            	  <button class="btn btn-success rounded-pill-right" style="padding-right: 15px;" onclick="showLoadingCompare({{loop.index}})">
                    <i class="fa fa-search">Submit</i>
                  </button>
                </span>
                <br>
              </div>
			  <div class="btn-group btn-group-sm biggroup" role="group" data-toggle="buttons" style="width:100%; flex: 1; border-radius: 2px; padding-bottom: 10px; padding-top: 10px; margin-right:10px;">
				<label class="btn btn-outline-dark form-check-label" style="border-top-left-radius: 50rem; border-bottom-left-radius: 50rem;  pointer-events: none; background:#efefef; padding-left:10px;" >
					<b style="font-style: italic;">Political Analysis Dataset&nbsp;</b>
				</label>
				<label class="btn btn-outline-dark form-check-label" for="ie" style="flex: 1; font-weight: bold;">
					<input class="btn-check" type="radio" name="countryDataset" autocomplete="off"  value="ie" id="ie" style="display: none;"/>Ireland
				</label>
				<label class="btn btn-outline-dark form-check-label" for="uk" style="flex: 1; font-weight: bold;">
					<input class="btn-check" type="radio" name="countryDataset" autocomplete="off"  value="uk" id="uk" style="display: none;"/>UK
				</label>
				<label class="btn btn-outline-dark form-check-label" for="us" style="flex: 1; font-weight: bold;">
					<input class="btn-check" type="radio" name="countryDataset" autocomplete="off"  value="us" id="us" style="display: none;"/>US
				</label>
				<label class="btn btn-outline-dark form-check-label active" for="global" style="flex: 1; font-weight: bold;">
					<input class="btn-check" type="radio" name="countryDataset" autocomplete="off"  value="global" id="global" style="display: none;" checked/>Global
				</label>
			  </div>
              <label for="twitter_query">Click 'Submit' to analyse the tweets within the User account or Hashtag:</label>
            </form>
            <hr>
			<div Name="loading_{{loop.index}}" style="display: none;">
				<img class="loadingImg" src="{{ url_for('static',filename='images/loading-gif.gif') }}" alt="loading"/>
			</div>
            {% if result != None %}
      		<div Name="result_section_1_{{loop.index}}">
              <div style="text-align:center;">Search Term: <b>{{result.tweetsetInfo.term}}</b></div>
              <div style="text-align:center;">Found <b>{{result.tweetsetInfo.tweet_count}} tweets</b> from the last 7 days with <b>{{result.tweetsetInfo.word_count}}</b> unique words used</div>
              <div style="text-align:center;">Politics Analysed with a dataset from <b>{{result.political_sentiment_data.dataset_country}}</b></div>
			  <br>
				<table Name="result_section_2_{{loop.index}}" style="width:100%;">
					<tr>
						<td class="td-content-desc">Positivity
							<a class="hoverInfo" style="width: 15px;color:#000000;text-decoration:none" data-title="How Positive or Negative this set of tweets is.">
								<img src="{{ url_for('static',filename='images/info_icon.png') }}" alt="Verified" class="informational_icon"/>
							</a>
						</td>
						<td class="td-content-data">{{result.tweetsetInfo.sentiment}}</td>
					</tr>
					<tr class="tr-content-mid">
						<td class="td-content-desc">Political Leaning
							<a class="hoverInfo" style="width: 15px;text-decoration:none" data-title="Where this set of tweets falls on the spectrum from left/liberal to right/conservative.">
								<img data-title="Where this set of tweets falls on the spectrum from left/liberal to right/conservative." src="{{ url_for('static',filename='images/info_icon.png') }}" alt="Verified" class="informational_icon"/>
							</a>
						</td>
						<td class="td-content-data political_leaning_wrapper">
							<svg id="political_leaning_meter" style="margin-top:7.5px;">
							<circle class="circlesector" id="liberal" r="50" cx="50%" cy="50%" stroke="#7CCCE5" 
							stroke-width="20" stroke-dasharray="157, 314" fill="none">
							</circle>
							<circle class="circlesector" id="neutral" r="50" cx="50%" cy="50%" stroke="#8f8f8f"
							stroke-width="20" stroke-dasharray="91, 314" fill="none">
							</circle>
							<circle class="circlesector" id="conservative" r="50" cx="50%" cy="50%" stroke="#e5957c"
							stroke-width="20" stroke-dasharray="67, 314" fill="none">
							</circle>
							<img id="meter_needle" src="{{ url_for('static',filename='images/meter-gauge-needle.svg') }}" alt="" style="margin-top:7.5px; transform: rotate({{result.political_sentiment_data.political_leaning_degree}}deg);">
							<p id="liberal_label">Left</p>
							<p id="conservative_label">Right</p>
							</svg>
							<div id="politicalLeaningDesc2" style="display: block;">{{result.political_sentiment_data.prediction}}</div>
						</td>
					</tr>
					<tr class="tr-content-mid">
						<td class="td-content-desc">Tweet Emotions
							<a class="hoverInfo" style="width: 15px;color:#000000;text-decoration:none" data-title="The percentages of the set of tweets which is associated with various emotions.">
								<img src="{{ url_for('static',filename='images/info_icon.png') }}" alt="Verified" class="informational_icon"/>
							</a>
						</td>
						<td class="td-content-data">
							<div class="emotion-chart flex-container">
								{% for emotion in result.most_used_data.strongest_emotions %}
								<div class="{% if loop.index == 1 %}emot-first {% elif loop.last %}emot-last  {% endif %}all-emot" style="
								flex: 1 1 {{emotion.get_bar_fraction(result.tweetsetInfo.tweet_count)}}%; 
								background-color: {{emotion.colour}};">
									{{emotion.name.capitalize()}}
								</div>
								{% endfor %}
							</div>
							<div id="politicalLeaningDesc2" class="flex-wrap">
								{% for emotion in result.most_used_data.strongest_emotions %}
								<div class="Column"><div class="colour-inidicator" style="background-color: {{emotion.colour}};"></div><p class="legendlabel">{{emotion.name.capitalize()}}</p></div>
								{% endfor %}
							</div>
						</td>
					</tr>
					<tr class="tr-content-mid">
						<td class="td-content-desc">Most Used Emojis </td>
						<td class="td-content-data">
							{% if result.most_used_data.most_used_emojis != [] %}
								{% for item in result.most_used_data.most_used_emojis %}
									{{item.word}}
									{% if not loop.last %},&nbsp;{%endif%}
								{% endfor %}
							{% else %}
								No emojis used in the last 7 days of tweets<br>
							{% endif %}
						</td>
					</tr>
					<tr class="tr-content-mid">
						<td class="td-content-desc">Most Used Words </td>
						<td class="td-content-data">
							{% if result.most_used_data.most_used_words != [] %}
							{% for item in result.most_used_data.most_used_words %}
								{{item.word}}
								{% if not loop.last %},&nbsp;{%endif%}
							{% endfor %}
							{% else %}
								No Words used in the last 7 days of tweets<br>
							{% endif %}
						</td>
					</tr>
					<tr class="tr-content-mid">
						<td class="td-content-desc">Most Used Hashtags </td>
						<td class="td-content-data">
						{% if result.most_used_data.most_used_hashtags != [] %}
							{% for item in result.most_used_data.most_used_hashtags %}
								{{item.word}}
								{% if not loop.last %},&nbsp;{%endif%}
							{% endfor %}
						{% else %}
							No hashtags used in the last 7 days of tweets<br>
						{% endif %}
						</td>
					</tr>
				</table>
           </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}
