<!DOCTYPE html>
<html>
  	</head>
	    <meta charset="UTF-8">
    	<title>Twitter Analysis Application</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="shortcut icon" href="{{ url_for('static',filename='images/fyplogo.png') }}">
    	<link rel='stylesheet' type= "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<script type="text/javascript">
			function showLoadingAnalyse(){
				var myElem = document.getElementById("result_section_1");
				if (myElem != null) {
					myElem.style.display = "none";
					document.getElementById("result_section_3").style.display = "none";
					document.getElementById("result_section_2").style.display = "none";
				}
				document.getElementById("loading").style.display = "block";
				$(this).parent().trigger('submit')
			}
			function showLoadingCompare(i){
				var myElem = document.getElementsByName("result_section_1_"+i)[0];
				if (myElem != null) {
					myElem.style.display = "none";
					document.getElementsByName("result_section_3_"+i)[0].style.display = "none";
					document.getElementsByName("result_section_2_"+i)[0].style.display = "none";
				}
				document.getElementsByName("loading_"+i)[0].style.display = "block";
				$(this).parent().trigger('submit')
			}
			function showLoadingAnalyseAcc(){
				var myElem = document.getElementById("result_section_1");
				if (myElem != null) {
					myElem.style.display = "none";
					document.getElementById("result_section_3").style.display = "none";
					document.getElementById("result_section_2").style.display = "none";
				}
				document.getElementById("loading").style.display = "block";
				$(this).parent().trigger('submit')
			}
		</script>
		<nav class="navbar navbar-expand-lg fixed-top flex-nowrap">  
        	<img src="{{ url_for('static',filename='images/fyplogo.png') }}" alt="logo" class="logo"/>
  			<a class="navbar-brand" href="/analyse">  Twitter Analysis Application</a>
  			<div class="collapse navbar-collapse d-flex">     
  				<ul class="nav nav-tabs bd-navbar-nav .nav-justified" id="myTab" role="tablist">
	  				<li class="nav-item">
	  					<a id="analyse" class="nav-link tab {% block tab1 %}{% endblock %}" data-value="analyse" href="/analyse_tweets">Analyse Tweets</a>        
	  				</li>  
	  				<li class="nav-item">
	  					<a id="compare" class="nav-link tab {% block tab2 %}{% endblock %}" data-value="compare" href="/compare_tweets">Compare Tweets</a>    
	  				</li>  
		  			<li class="nav-item">  
	  					<a id="blah"  class="nav-link tab {% block tab3 %}{% endblock %}" data-value="analyse_acc" href="/analyse_account">Analyse Account</a>       
			  		</li>  
			  	</ul> 
			</div>
		</nav>
	</head>
	<body>
    	<section class="content" style="width:100%;">
      		{% block content %}{% endblock %}
    	</section>
  </body>
</html>
