<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Basic Web Frontend for Python App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
  <body>
    <div class="container">
      <h1>Basic Web Frontend for Python App</h1>
      <br>
      <form action ='query' method="POST">
        <label for="twitter_query">Enter the hashtag or user tag to analyse in the form #tag or @user:</label>
        <input type="text" id="twitter_query" name="twitter_query">
        <input type="submit" name="submit" id="submit"/>
      </form>
      <br><br>
      {% if resultlist != [] %}
      <table style="border-collapse: collapse;">
      <tr>
        {% for result in resultlist %}
          <td style="border-left: 1px solid #000; border-right: 1px solid #000; padding-left:10px">
            Results for searching term: {{result.term}}<br>
            Unique words used in {{result.tweet_count}} tweets: {{result.word_count}}<br>
            This tweet-set is overall {{result.sentiment}}<br>
            Political Leaning: {{result.political_statement}}<br>
            Political Score: {{result.political_score}}<br>
            Political Leaning II: {{result.prediction}}<br>
            Strongest Emotions: 
            {% for item in result.strongest_emotions %}
              <div style="font-size:{{item.get_strength()*50}}vw">{{item.name}}&emsp;{{item.get_strength()}}</div>
            {% endfor %}
            {% if result.most_used_emojis != [] %}
              Most Used Emojis: <br>
              {% for item in result.most_used_emojis %}
                <div style="font-size:{{item.count/15}}wv">{{item.word}}&emsp;{{item.count}}</div>
              {% endfor %}
            {% else %}
              No emojis used in the last 7 days<br>
            {% endif %}
            {% if result.most_used_hashtags!= [] %}
              Most Used Hashtags: <br>
              {% for item in result.most_used_hashtags %}
                <div style="font-size:{{item.count/15}}wv">{{item.word}}&emsp;{{item.count}}</div>
              {% endfor %}
            {% else %}
              No hashtags used in the last 7 days<br>
            {% endif %}
            {% if result.most_tagged_users != [] %}
              Most Frequently Tagged Users: <br>
              {% for item in result.most_tagged_users %}
                <div style="font-size:{{item.count/15}}wv">{{item.word}}&emsp;{{item.count}}</div>
              {% endfor %}
            {% else %}
              No users tagged in the last 7 days<br>
            {% endif %}
            Most Used Words: <br>
            {% for item in result.most_used_words %}
              <div style="font-size:{{(item.count/result.mxscale)*5}}vw">{{item.word}}&emsp;{{item.count}}</div>
            {% endfor %}
          </td>
        {% endfor %}
        </tr>
        </table>
      {% endif %}
    </div>
    <!-- scripts -->
  </body>
</html>
