/*  COLORS
    #efefef --  LIGHT GREY
    #24d1f9 --  LIGHT BLUE
    #8d8d8d --  MID GREY
    #000000 --  BLACK
    #747474 --  DARK GREY
    #54b936 --  GREEN
    #fc5b57 --  RED
*/

html {
    background-color: #D0CECE;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right:10px !important;
    padding-top: 30px;
    /* min-width: 100vw;
    min-height: 100vh; */
    font-size: 12px;
}
.navbar{ 
    background:#D0CECE;  
    color: #D0CECE; 
    border-bottom: none;
    width: 100% !important; 
    margin: auto !important; 
    height: 60px !important; 
}
.navbar-brand{ 
    color: #000000; 
    cursor: pointer;
    padding-left: 5px;
}
.nav-link{ 
    background: #908C8C; 
    margin-right: 10px !important; 
    color: #000000;
    display:inline-block;
    height:100%;
}
.nav-item {
    background: #D0CECE;
}
.nav-link:hover{ 
    background: #AFABAB;
    color: #000000;
}
.navbar-default {
    border: 0;
}
.navbar-toggler{  
    background:#fff !important;
}
.logo {
    height:5vh;
}
.tr-content-mid {
    border-top: 1px solid #a19d9c;
}
.td-content-desc {
    padding:0px; 
    text-align:left;
    min-width: fit-content !important; 
}
.td-content-data {
    padding:0px; 
    padding-left: 20px;
    text-align:right; 
    padding-bottom: 7.5px; 
    padding-top: 7.5px;
}

.compare-content1 {
    border-right: 2px solid #616161 !important; 
    vertical-align: top;
}

.compare-content2 {
    vertical-align: top;
}

.analyse_account2 {
    vertical-align: top;
}

.navbar-collapse{
    position:absolute;
    bottom:0;
    right:0;
}

@media (max-width: 760px) {
    
    html {
        font-size: 11px;
    }
    
    .compare-content1 {
        border-right: None !important; 
        padding-bottom: 15px !important; 
        vertical-align: top;
    }
    .rounded-pill-left {
        width: 70% !important; 
    }
    .compare-content2 {
        padding-top: 15px !important; 
    }

    .tr-content-mid {
        border-top: 1px solid #a19d9c;
    }

    .navbar-brand {
        display: none !important;
    }
    .nav-link{
        width: 25vw !important;
    }
    
    .bigtab {
        padding-top: 15px !important;
    }
    .biggroup{
        padding-bottom: 5px !important;
        padding-top: 0 !important;
    }
    #politicalLeaningDesc1 {
        display: none;
    }
    #politicalLeaningDesc2 {
        padding-top: 0px;
    }
    
    .political_leaning_wrapper{
        right: 40px;
    }
    
    #conservative_label {
        right: 10px;
    }
    
    #liberal_label {
        right: 115px;
    }
    #meter_needle {
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        transform-origin: bottom center !important;
        margin-right: 70px;
    }
    .emotion-chart{
        width: 100%;
    }
    .all-emot {
        font-size: 0px;
    }
    .two-row-fill {
        width:108%;
    }
    
    .followingdata1{
        text-align: center; 
    }
    .followingdata3{
        text-align: center; 
    }
    .condbreak {
        margin-top: -15px;
    }
    .analyse_account2{
        padding-top: 15px !important; 
        border-top: 2px solid #a19d9c;
    }
}

@media (min-width: 761px) {
    #politicalLeaningDesc1 {
        position: absolute;
        right: 220px;
        width: 350px;
    }
    #politicalLeaningDesc2 {
        display: none;
        margin-right: -50px;
    }
    .political_leaning_wrapper{
        padding-right: 60px !important;
    }
    
    #conservative_label {
        right: 60px;
    }

    #liberal_label {
        right: 170px;
    }
    #meter_needle {
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        transform-origin: bottom center !important;
        margin-right: 130px;
    }
    .emotion-chart{
        width: 75%;
    }
    .all-emot {
        font-size: 10px;
        font-weight: 500;
    }

    .emotionlabel {
        padding-right: 5px !important;
    }

    .td-content-desc {
        min-width: 100px;
    }
    .two-row-fill {
        width:100%;
    }
    .followingdata1{
        text-align: right; 
    }
    .followingdata3{
        text-align: left; 
    }
    .condbreak {
        display: none;
    }
}

.followingdata1{
    padding-top: 7.5px; 
    padding-bottom: 7.5px;
}
.followingdata3{ 
    padding-top: 7.5px; 
    padding-bottom: 7.5px;
}
.rounded-pill-left {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
    padding-left: 15px;
  }

.rounded-pill-right {
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
}

.bigtab {
    background-color: #AFABAB;
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 15px;
    position: absolute;
    border-top: none;
    border-bottom: none;
    margin-top: 30px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    border-bottom-right-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    border-top-left-radius: 2rem;
    min-height:88%;
}

.flexwidth {
    width: -moz-calc(100vw - 30px);
    width: -webkit-calc(100vw - 30px);
    width: -o-calc(100vw - 30px);
    width: calc(100vw - 30px);
}​

.political_leaning_wrapper{
    position: absolute;
    padding-top:10px !important;
    width: 120px;
    height: 120px;
}

#political_leaning_meter {
    width: 120px;
    height: 120px;
    transform: rotateX(180deg);
    margin-bottom:-40px;
}
#meter_needle {
    height: 55px;
}

#liberal_label {
    margin: auto;
    position: absolute;
    font-weight: bold;
    margin-top:-25px;
}

#conservative_label {
    margin: auto;
    position: absolute;
    font-weight: bold;
    margin-top:-25px;
}

.emotion-chart{
    min-height: 20px;
    display: flex;
    border: 2px solid #6a6868;
    border-radius: 50rem !important;
    float:right;
    margin-bottom: 7.5px;
}

.emot-first{
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
}

.emot-last{
    flex-grow: 1;
    border-top-right-radius: 50rem !important;
    border-bottom-right-radius: 50rem !important;
}

.all-emot {
    height: 100%;
    text-align: center;
    line-height: 20px;
    padding-left: 2px;
    padding-right: 2px;
    min-width: fit-content;
}

.colour-inidicator {
    height: 20px;
    width: 20px;
    background-color: #555;
    border-radius: 20rem !important;
    border: 2px solid #6a6868;
    float:left;
}

.Column {
    display: inline-block;
    padding-right: 5px;
    width: 49%;
}

.legendlabel {
    padding-left: 3px;
    vertical-align: middle;
    height: 100%;
    float:left;
}

.alert {
    background-color: #e5957c !important;
    border-color: #a96b58 !important;
    color: #50342b !important;
    font-weight: bold !important;
}

.loadingImg {
    width: 100px;
    height: 100px;
    cursor: wait;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 30px;
}

#loading {
    width: 100%;
    height: 100%;
}

.profile_picture {
    width: 100px;
    height: 100px;
    border: 2px solid #6a6868;
    border-radius: 50rem !important;
}

.verified_tick {
    width: 15px;
    height: 15px;
}


[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #D0CECE;
    color: #111;
    position: absolute;
    padding: 1px 5px 2px 5px;
    bottom: -1.6em;
    left: 100%;
    white-space: nowrap;
    opacity: 0;
    border: 2px solid #6a6868;
    border-radius: 50rem !important;
    z-index: 99999;
    visibility: hidden;
}
[data-title] {
    position: relative;
}

.informational_icon {
    width: 15px;
    height: 15px;
}

/* End */
